<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /tol-pandeglang/index.php/$1 [L]

Options All -Indexes
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(js|css|php)$">
		Header append Vary: Accept-Encoding
	</FilesMatch>
</IfModule>